body{
	background-color: white;
}

.naglowek{
	height: 50px;

}

.d01{
	height: 40px;


}
.d02{
	width: 100%;
    height: 40dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    -moz-text-decoration-line: blink;
    flex-direction: column;
    column-fill: auto;
    animation: colorRotate 6s linear 0s infinite;

}
.d03{
	height: 40px;
	text-align: center;
	background-image: linear-gradient(violet, goldenrod, rgb(69, 79, 173));

}
.d04{
	height: 40px;
	

}
.d05{
	height: 40px;

}
.d06{
	height: 40px;

}
.d07{
	height: 40px;

}
.d08{
	height: 40px;

}
.d08 img{
	height: 100%;

}
.d09{
	height: 47px;
	height: auto;
	background: linear-gradient(red, blue);
	color: aqua;
	font-size: 600px;
	font-weight: 700;
	letter-spacing: 200px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: oblique;
}
.d09 div{
	width:50%;

}
.d10{
	height: 40px;

}
.d11{
	height: 40px;

}
.d12{
	height: 40px;

}
.d13{
	height: 40px;

}

.d14{
	height: 40px;
	;
	font-family: monospace;
}
.d15{
	height: 40px;

}
.d16{
	height: 40px;
	
}
.d17{
	height: 40px;

}
.d18{
	height: 40px;
	background-color: darkcyan;
}
.d19{
	height: 40px;

}
.stopka{
	height: 40px;


}

@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}