body{
	background-color: lightgray;
}

.naglowek{
	height: 50px;

}

.d01{
	height: 40px;


}
.d02{
	height: 40px;

}
.d03{
	height: 40px;

}
.d04{
	height: 40px;
	

}
.d05{
	height: 40px;

}
.d06{
	height: 40px;

}
.d07{
	height: 40px;

}
.d08{
	height: 40px;

}
.d08 img{
	height: 100%;

}
.d09{
	height: 47px;

}
.d09 div{
	width:50%;

}
.d10{
	height: 40px;

}
.d11{
	height: 40px;

}
.d12{
	height: 40px;

}
.d13{
	height: 40px;

}

.d14{
	height: 40px;
	;
	font-family: monospace;
}
.d15{
	height: 40px;

}
.d16{
	height: 40px;
	
}
.d17{
	height: 40px;

}
.d18{
	height: 40px;
}
.d19{
	height: 40px;

}
.stopka{
	height: 40px;


}

